p {
    font-family: Lato;
  }
  :host {
       display: block;
       font-size: 18px;
  }
   .node__label {
       color: blue;
       cursor: pointer;
  }
   .node__children {
       margin: 5px 0px 5px 30px;
       padding-left: 10px;
  }
   .node--selected > .node__label {
       background-color: red;
       color: white;
       font-weight: bold;
  }
   .note {
       color: #999;
       font-size: 15px;
       font-style: italic;
  }
   